<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.container.dao.ContainerGroupEntityMapper" >
  <resultMap id="BaseResultMap" type="com.sky.container.entity.ContainerGroupEntity" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="valid" property="valid" jdbcType="INTEGER" />
    <result column="ts" property="ts" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, name, valid, ts
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from container_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from container_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.sky.container.entity.ContainerGroupEntity" >
    insert into container_group (id, name, valid, 
      ts)
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{valid,jdbcType=INTEGER}, 
      #{ts,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.sky.container.entity.ContainerGroupEntity" >
    insert into container_group
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >        	id,      	</if>
      <if test="name != null" >        	name,      	</if>
      <if test="valid != null" >        valid,      </if>
      <if test="ts != null" >        	ts,      	</if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >        	#{id,jdbcType=INTEGER},      	</if>
      <if test="name != null" >        	#{name,jdbcType=VARCHAR},      	</if>
      <if test="valid != null" >        #{valid,jdbcType=INTEGER},      </if>
      <if test="ts != null" >        	#{ts,jdbcType=VARCHAR},      	</if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.sky.container.entity.ContainerGroupEntity" >
    update container_group
    <set >
      <if test="name != null" >        	name = #{name,jdbcType=VARCHAR},      	</if>
      <if test="valid != null" >        valid = #{valid,jdbcType=INTEGER},      </if>
      <if test="ts != null" >        	ts = #{ts,jdbcType=VARCHAR},      		</if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.sky.container.entity.ContainerGroupEntity" >
    update container_group
    set name = #{name,jdbcType=VARCHAR},
      valid = #{valid,jdbcType=INTEGER},
      ts = #{ts,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>