html,body{width: 100%;height: 100%;}
#page-panel{width: 100%;height: 100%;}
#page-menu{width: 100%;height: 100%;}
#page-menu{width: 15%; padding: 0 1px; height: 100%;}
#page-contain{width: 85%;padding: 0 2%; height: 100%;}

/*bootstrap tabs css  */
#pageTab>li{margin-top: 5px;}
/*bootstrap tab close css  */
.tab-item{position: relative;}
.tab-item i{display: none; position: absolute; top: -2px;  right: 8px; font-size: 17px; cursor: pointer;}
.tab-item:hover i{display: block;}

/*bootstrap content css  */
#page-content{height:calc(100% - 55px)}
.tab-pane{width: 100%;height: 100%;}
.tab-pane>iframe{height:100%; width: 100%}
.list-group>li{border: 0; padding: 5px 10px; cursor: pointer;}
